<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RSTokenField.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB54D4FA1C839AF5009DADBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB54D50B1C839AF5009DADBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB54D5161C839AF5009DADBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
